@font-face {
  font-family: 'Lancelot';
  src: url('../fonts/Lancelot/Lancelot-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Black.ttf') format('truetype');
  font-weight: 900;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Italic.ttf') format('truetype');
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Thin.ttf') format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

:root {
  /* color */
  --primary-color: #f5f7f8;
  --secondary-color: #f4ce14;
  --tertiary-color: #495e57;
  --quarterary-color: #45474b;

  /* font family */
  --main-font: 'Lato', sans-serif;
  --logo-font: 'Lancelot', sans-serif;
}

*,
button {
  padding: 0;
  margin: 0;
}

button {
  background: transparent;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}
@media (min-width: 700px) {
  .news {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  article {
    grid-area: 1 / 1 / 2 / 7;
    background: blue;
  }
  aside {
    grid-area: 1 / 7 / 2 / 11;
    background: red;
  }
}
@media (max-width: 700px) {
}
