@font-face {
  font-family: 'Lancelot';
  src: url('../fonts/Lancelot/Lancelot-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
}

:root {
  /* color default*/
  --primary-color: #f5f7f8;
  --secondary-color: #f4ce14;
  --tertiary-color: #495e57;
  --quarterary-color: #45474b;

  /* font family */
  --primary-font: 'Lancelot', sans-serif;
  --secondary-font: 'Lato', sans-serif;
}

*,
button {
  padding: 0;
  margin: 0;
}

button {
  background: transparent;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}
