<div class="header__top">
  <h1 class="header__brand">Media Wiracarita</h1>
  <div class="header__searchWide">
    <input placeholder="Cari topik atau kata kunci" />
    <button class="header__searchInput">Cari</button>
  </div>
  <div class="header__facility">
    <button class="">
      <img
        src="../assets/icons/search.svg"
        alt="Search"
        class="header__search"
      />
    </button>
    <button class="header__hamburgerButton">
      <img
        src="../assets/icons/hamburger.svg"
        alt="Hamburger"
        class="header__hamburger"
      />
    </button>
  </div>
</div>
<div class="header__bottom">
  <nav>
    <ul class="header__listNav">
      <li><a href="#">Semua</a></li>
      <li><a href="#">Politik</a></li>
      <li><a href="#">Ekonomi</a></li>
      <li><a href="#">Sains & Teknologi</a></li>
      <li><a href="#">Bisnis</a></li>
      <li><a href="#">Olahraga</a></li>
    </ul>
  </nav>

  <p class="header__time" id="header-time"></p>
</div>
