<div class="main__first">
  <div class="main__induk">
    <div class="main__imageFilter">
      <img
        src="../assets/article/barack-obama.jpg"
        alt="Barack Obama"
        class="main__image"
      />
      <div class="main__newsTitle">
        <p>Mantan Presiden US Barack Obama hari ini menghubungi Indonesia</p>
        <div class="main__smallText">
          <p>Oleh : Wahyu Ramadhan</p>
          <p>Baru saja</p>
        </div>
      </div>
    </div>
    <p class="main__descMainNews">
      Pada siang hari ini, Mantan Presiden US Barack Obama berkunjung ke
      Indonesia untuk melakukan liburan keluarga. Kedatangan Mantan Presiden US
      tersebut disambut hangat oleh teman-teman.
    </p>
  </div>
</div>
<div class="main__second">konten main kanan</div>
