<div class="main__first">
  <div class="main__induk">
    <div class="main__imageFilter">
      <img
        src="../assets/article/barack-obama.jpg"
        alt="Barack Obama"
        class="main__image"
      />
      <div class="main__newsTitle">
        <p>Mantan Presiden US Barack Obama hari ini menghubungi Indonesia</p>
        <div class="main__smallText">
          <p>Oleh : Wahyu Ramadhan</p>
          <p>Baru saja</p>
        </div>
      </div>
    </div>
    <p class="main__descMainNews">
      Pada siang hari ini, Mantan Presiden US Barack Obama berkunjung ke
      Indonesia untuk melakukan liburan keluarga. Kedatangan Mantan Presiden US
      tersebut disambut hangat oleh teman-teman.
    </p>
  </div>
</div>
<div class="main__second">
  <div class="main__induk">
    <h2>Berita Untuk Anda</h2>
    <div class="main__imageFilter3">
      <img
        src="../assets/article/demo.png"
        alt="Barack Obama"
        class="main__image"
      />
      <div class="main__newsTitle">
        <p>Demo buruh swasta</p>
        <div class="main__smallText">
          <p>Oleh : Wahyu Ramadhan</p>
          <p>Baru saja</p>
        </div>
      </div>
    </div>
    <p class="main__descMainNews">
      Pada hari Sabtu, 04 Mei 2025 terjadi aksi unjuk rasa oleh para
      karyawan/buruh swasta. Hal ini dikarenakan upah yang diterima berkurang
      dari sebelumnya. Namun upaya tersebut sia-sia dikarenakan ketua DPR sedang
      mengadakan acara ulang tahun. Mereka tetap percaya unjuk rasa tersebut
      akan berpengaruh bagi karyawan banyak di Indonesia.
    </p>
  </div>
</div>
<!-- <div class="main__second">
  <h2>Berita hari ini untukmu</h2>
  <p>
    Pada hari Sabtu, 04 Mei 2025 terjadi aksi unjuk rasa oleh para
    karyawan/buruh swasta. Hal ini dikarenakan upah yang diterima berkurang dari
    sebelumnya. Namun upaya tersebut sia-sia dikarenakan ketua DPR sedang
    mengadakan acara ulang tahun. Mereka tetap percaya unjuk rasa tersebut akan
    berpengaruh bagi karyawan banyak di Indonesia.
  </p>
  <div class="main__imageFilter2">
    <img
      src="../assets/article/demo.png"
      alt="Barack Obama"
      class="main__image2"
    />
    <div class="main__newsTitle2">
      <p>Demo buruh swasta</p>
      <div class="main__smallText2">
        <p>Oleh : Wahyu Ramadhan</p>
        <p>Baru saja</p>
      </div>
    </div>
  </div>
</div> -->
