footer {
  background: var(--secondary-color);
  color: var(--quarterary-color);
  width: -webkit-fill-available;
  margin-top: 32px;
}
footer > div > p {
  font-family: var(--logo-font);
}
footer > div:first-of-type {
  display: flex;
  justify-content: space-between;
}
footer > div:first-of-type > ul > li {
  display: flex;
  flex-direction: column;
  gap: 12px;
  cursor: pointer;
}
footer > div:first-of-type > ul > li > a:hover {
  text-decoration-line: overline underline;
  text-shadow: 2px 2px 2px rgba(69, 71, 75, 0.77);
}
.footer__copyright {
  font-size: 10px;
  text-align: center;
  margin-top: 12px;
}

footer > div > p {
  font-size: 24pt;
  font-family: var(--logo-font);
  text-shadow: 2px 2px 2px rgba(69, 71, 75, 0.77);
  color: var(--quarterary-color);
  display: flex;
  justify-content: center;
  font-weight: normal;
  margin: 0;
  flex-direction: column;
  cursor: pointer;
}
@media (min-width: 700px) {
  .footer__copyright {
    font-size: 1vw;
  }
  footer {
    padding: 12px 32px;
  }
}
@media (max-width: 700px) {
  footer > div > p {
    font-size: 6vw;
  }
  footer {
    padding: 8px 12px;
  }
}
