.header__hamburger,
.header__search {
  width: 2rem;
  margin: 0px 12px;
}

.header__hamburger,
.header__search,
.header__brand {
  background-color: transparent;
}

.header__top,
.header__bottom {
  padding: 24px 18px;
}

.header__top {
  background-color: var(--quarterary-color);
  justify-content: space-between;
  display: flex;
}

.header__bottom {
  background-color: var(--tertiary-color);
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

.header__time {
  text-align: right;
  color: var(--secondary-color);
}

.header__brand {
  font-family: var(--primary-font);
  text-shadow: 5px 5px 4px #000;
  color: var(--primary-color);
  font-size: 24pt;
}

.header__searchWide {
  border: 1px solid var(--secondary-color);
  border-radius: 12px;
  justify-content: space-between;
  display: flex;
  font-size: 18px;
}

.header__searchInput {
  background: var(--secondary-color);
  border-radius: 0px 12px 12px 0px;
  color: var(--quartenary-color);
  padding: 12px 24px;
  font-size: 18px;
  /* min-width: ; */
}

.header__searchWide > input {
  color: var(--secondary-color);
  border-radius: 12px 0px 0px 12px;
  background: transparent;
  padding: 12px 0px 12px 24px;
}

.header__searchWide > input::placeholder {
  color: var(--secondary-color);
  opacity: 1;
}

.header__searchWide > input::-moz-placeholder {
  color: var(--secondary-color);
  opacity: 1;
}

.header__searchWide > input:-ms-input-placeholder {
  color: var(--secondary-color);
  opacity: 1;
}

.header__searchWide > input::-ms-input-placeholder {
  color: var(--secondary-color);
  opacity: 1;
}

.header__searchWide > input::-webkit-input-placeholder {
  color: var(--secondary-color);
  opacity: 1;
}
