main {
  font-family: var(--main-font);
}

@media (min-width: 700px) {
  main {
    max-height: calc(100vh - 95px);
    display: flex;
    justify-content: center;
    padding-top: 164.5px;
    width: 100vw;
  }
  .main__imageFilter,
  .main__imageFilter2 {
    max-width: 43.7vw;
    height: 23vw;
    border-radius: 14px;
  }

  .main__second {
    width: 47.5vw;
    border-radius: 0px 0px 14px 14px;
    padding: 0px 24px;
  }
  .main__first {
    padding: 32px 60px 60px 60px;
    max-width: 43.7vw;
  }

  .main__newsTitle > p:first-of-type {
    font-size: 0.9em;
    padding: 0px 24px;
  }
  .main__smallText > p {
    font-size: 0.5em;
    padding: 0px 24px;
  }
  .main__smallText {
    font-size: 1em;
    padding: 0px 12px;
  }
  .main__newsTitle {
    width: -webkit-fill-available;
  }
  .main__imageFilter {
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .main__imageFilter:hover {
    transform: scale(1.05) translate(0px, 10px);
  }
}

@media (max-width: 700px) {
  .main__first {
    padding: 0px;
  }
  .main__imageFilter {
    padding-top: 151px;
  }
  .main__imageFilter,
  .main__imageFilter2 {
    width: 100vw;
    height: 45vw;
  }
  .main__imageFilter {
    width: 100vw;
    height: 45vw;
    padding-top: 151px;
  }

  .main__newsTitle > p:first-of-type {
    font-size: 0.6em;
    padding: 0px 12px;
  }
  .main__smallText {
    font-size: 0.5em;
  }

  .main__smallText {
    display: flex;
    width: 93vw;
    transform: translateX(12px);
  }
  .main__newsTitle {
    transform: translateX(6px);
  }
  .main__descMainNews {
    font-size: 3vw;
  }
}

main {
  margin: 0px 0px 16px 0px;
}

.main__second > h2,
.main__second > p {
  align-content: center;
}
.main__imageFilter,
.main__imageFilter2 {
  position: relative;
  overflow: hidden;
}

.main__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__imageFilter::before,
.main__imageFilter::after,
.main__imageFilter2::before,
.main__imageFilter2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main__imageFilter::before,
.main__imageFilter2::before {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 9%,
    rgba(0, 0, 0, 1) 72%,
    rgba(0, 0, 0, 1) 100%
  );
  opacity: 0.2;
  z-index: 1;
}

.main__imageFilter::after,
.main__imageFilter2::after {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 9%,
    rgba(0, 0, 0, 1) 72%,
    rgba(0, 0, 0, 1) 100%
  );
  opacity: 0.2;
  z-index: 2;
}
.main__induk > h2,
.main__descMainNews {
  margin: 24px;
}
.main__descMainNews {
  text-align: justify;
  text-indent: 2em;
}

.main__newsTitle {
  position: absolute;
  bottom: 1%;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  z-index: 3;
}
.main__smallText {
  display: flex;
  justify-content: space-between;
}
.main__newsTitle > p:first-of-type {
  transform: translate(0px, -10px);
  font-weight: bold;
}

/* right side content */

.main__second {
  background: var(--tertiary-color);
  font-family: var(--main-font);
  display: grid;
}

.main__second > .main__induk > h2 {
  font-family: Lato;
  color: var(--secondary-color);
  font-size: 24px;
  text-align: center;
  grid-area: 1 / 1 / 2 / 2;
}

.main__second > p {
  text-align: justify;
  text-indent: 2em;
  color: var(--primary-color);
  grid-area: 6 / 1 / 8 / 2;
}

.main__second {
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 0px;
}

.main__second > .main__induk > .main__descMainNews {
  color: var(--primary-color);
}
