.news {
  margin-top: 6vh;
  width: -webkit-fill-available;
}
article {
  width: -webkit-fill-available;
}
article > div:first-of-type {
  display: flex;
  align-items: center;
}
article > div > h2 {
  text-align: center;
  min-width: max-content;
  margin: 0px 10px;
  font-weight: normal;
}
.news__borderWing {
  width: -webkit-fill-available;
  height: 4px;
  background: var(--secondary-color);
  border-radius: 10px;
}

aside {
  color: var(--primary-color);
  background-color: #abab871;
  background-color: var(--tertiary-color);
}
aside > h2 {
  text-align: center;
}
aside {
  border-radius: 12px;
  padding: 18px 24px;
}
aside > div:first-of-type > button:first-of-type {
  background-color: var(--secondary-color);
  color: var(--quartenary-color);
  padding: 8px 6px;
  border-radius: 8px;
}
aside > div:first-of-type > button:first-of-type > a {
  text-decoration: none;
  font-size: 16px;
}
.news__buttonContainer {
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
  margin: 16px 0;
}
.news__container,
.news__containerArticle {
  margin-top: 16px;
}
.news__popularImage {
  width: 140px;
  height: 140px;
  object-fit: cover;
}
.news__titleNews > p:first-of-type {
  font-size: 15px;
  text-align: center;
  margin-bottom: 16px;
}
.news__titleNews > p:nth-of-type(2) {
  font-size: 12px;
  text-align: justify;
  text-indent: 2em;
  margin-bottom: 16px;
}
.news__titleNews > div:first-of-type {
  font-size: 10px;
  font-style: italic;
}
.news__container,
.news__containerArticle {
  column-gap: 12px;
}
@media (min-width: 700px) {
  .news {
    display: flex;
    justify-content: space-between;
  }
  .news__popularImage {
    height: 160px;
  }
  .news__container,
  .news__containerArticle {
    max-width: 320px;
    column-gap: 12px;
  }
  article {
    margin: 0px 24px 18px 0px;
  }
  article > div:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .news__containerArticle {
    animation-duration: 2000ms;
    min-width: 420px;
    background: transparent;
  }
  .news__containerArticle:hover {
    background: var(--primary-color);
    padding: 4px;
    border-radius: 8px;
    scale: 1.01;
  }
}
@media (max-width: 700px) {
  article {
    padding: 24px 16px;
  }
}
